 <footer>
        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <div class="col-md-4 d-flex align-items-center">
                    <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                        <svg class="bi" width="30" height="24">
                            <use xlink:href="#bootstrap" />
                        </svg>
                    </a>
                    <span class="mb-3 mb-md-0 text-body-secondary">&copy;  BSR {{'now' |date('Y')}}
                    </span>
                </div>
                <ul class="nav col-md-4 justify-content-end list-unstyled d-flex align-self-sm-center">
                    <li class="ms-3"><a href="#"><img src="{{asset('img/icons/ps.png')}}"
                                alt="Playstation" width="52"></a></li>
                    <li class="ms-3"><a href="https://github.com/rammroumm2K" target="_blank"><img src="{{asset('/img/icons/github.png')}}"
                                alt="github" width="60"></a></li>
                    <li class="ms-3"><a href="https://www.linkedin.com/in/rami-ben-salem-35305a320/" target="_blank"><img src="{{asset('./img/icons/linkedin.png')}}"
                                alt="github" width="32"></a></li>	
                </ul>
               
            </footer>